.header__hamburger {
    width: 28px;
    height: 24px;
    position: relative;
    display: block;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header__hamburger{
    appearance:none;
    border: none;
    background: transparent;
    cursor: pointer;


}
.main{
    flex-grow: 1;
}
.hamburger__line {
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--white);
    left:0 ;
}

.hamburger__line:nth-child(1) {
    top: 0;
    transition: transform 0.5s, rotate 0.5s;
}

.hamburger__line:nth-child(2) {
    top: 10px;
    transition: transform 0.5s;
}

.hamburger__line:nth-child(3) {
    bottom: 0;
    transition: transform 0.5s, rotate 0.5s;
}

.nav__list {
    margin: 0;
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: nowrap;
}

.nav__row {
    list-style: none;
    position: relative;
}

.nav__item {
    text-decoration: none;
    color: var(--white);
    padding: 0.5rem 1.25rem;
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--black);
    padding: 1em 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    overflow: hidden;
}

.dropdown__item {
    text-decoration: none;
    color: var(--white);
    padding: 0.5em 1.25em;
    display: block;
}

.dropdown__item:hover {
    background-color: var(--white);
    color: var(--black);
    transition: background-color 0.3s, color 0.3s;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 4;
    top: 0;
}

.main {
    margin-top: 56px;
}

.nav__row:has(.nav__item--best + .dropdown) .nav__item--best::after {
    content: ">";
    display: inline-block;
    margin-left: 0.5rem;
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.header__row {
    padding: .5em 1em;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown__item {
    white-space: nowrap;
}

.dropdown {
    border-radius: 0 0 2rem 2rem;
}
.nav__item{
    font-size: 1rem;
}
@media screen and (max-width: 915px) {
    .nav__row .dropdown {
        position: static;
    }

    .nav__row.open>.dropdown {
        display: block;
    }

    .nav__row {
        position: relative;
    }

    .header__hamburger.active .hamburger__line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .header__hamburger.active .hamburger__line:nth-child(2) {
        transform: translateX(200%);
    }

    .header__hamburger.active .hamburger__line:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .header__nav.active {
        right: 0;
        width: 100%;
        overflow-y: auto;
    }

    .body {
        overflow-x: hidden;
    }

    .header__nav {
        background-color: var(--black);
        color: var(--white);
        position: fixed;
        width: 100%;
        right: -100%;
        transition: right 0.5s ease-in-out;
        height: 100dvh;
    }

    .dropdown {
        left: 0;
        z-index: 3;
    }

    .nav__item--best {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (min-width: 915px) {
    .nav__row:has(.nav__item--best + .dropdown):hover .nav__item--best::after {
        transform: rotate(270deg);
    }

    .nav__row:hover .dropdown {
        display: block;
    }

    .header__hamburger {
        display: none;
    }

    .main {
        margin-top: 66px;
        
    }

    .header {
        display: flex;
        justify-content: space-between;
        background-color: var(--black);
    }

    .header__nav {
        display: flex;
        gap: 1.5rem;
        margin: 0 1.25rem;
    }
}