<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description"
        content="Přehrada Mšeno v Jablonci nad Nisou – oblíbené místo pro koupání, sport a relax v přírodě s výhledem na Jizerské hory.">
    <title>Přehrada Mšeno | Navštiv Jablonec</title>
    <meta name="robots" content="index,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" >
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" >
    <link rel="shortcut icon" href="/favicon/favicon.ico" >
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" >
    <meta name="apple-mobile-web-app-title" content="Navštiv Jablonec" >
    <link rel="manifest" href="/favicon/site.webmanifest" >
</head>

<body>
    {% include "partials/header.html" %}
    <main class="main">
        <section class="location c-location">
            <h1 class="text--h1 text--bold location__heading c-location-heading">Přehrada Mšeno
            </h1>
            <article class="location__info c-location-info">
                <div class="location__image  c-ref-image">
                    <abbr title="Zdroj: https://liberec.rozhlas.cz | Fotobanka Profimedia">
                        <img src="/img/prehrada-L.webp" class="c-place__image img--responsive"
                            srcset="/img/prehrada.webp 420w, /img/prehrada-S.webp 720w, /img/prehrada-M.webp 900w,  /img/prehrada-L.webp 1800w"
                            sizes="
                            (min-width: 901px) 50vw, 100vw  " width="720" height="405"
                            alt="Přehrada Mšeno v Jablonci nad Nisou">

                    </abbr>
                    <button class="places__btn c-ref-btn" onclick="toggleSource(this)">i</button>
                    <div class="places__source c-ref-source">Foto: <a class="places__ref-link c-ref-link"
                            href="https://liberec.rozhlas.cz/jablonec-ma-vysledky-analyzy-voda-v-prehrade-je-vhodna-ke-koupani-potvrzuji-8251398">https://liberec.rozhlas.cz
                            | Fotobanka Profimedia</a> </div>
                </div>
                <div class="location__description c-location-description">
                    <p class="info__description-heading c-location-description-heading text--bold text--h2">Popis: </p>
                    <p class="info__description c-location-description text--p">
                        Přehrada Mšeno je oblíbeným rekreačním místem v Jablonci nad Nisou, ideální pro letní koupání,
                        procházky i sportovní aktivity. Rozkládá se v těsné blízkosti centra města a nabízí upravené
                        pláže, travnaté břehy, dětská hřiště i zázemí pro vodní sporty. Okolí přehrady je vhodné pro
                        cyklisty i bruslaře a poskytuje krásné výhledy na panorama Jizerských hor.</p>

                </div>

                <div class="weather__wrapper weather__wrapper--location">
                    <h2 class="weather__heading text--bold text--h2">Aktuální počasí</h2>
                    <script
                        src="https://www.in-pocasi.cz/pocasi-na-web/pocasi-na-web.php?typ=default&amp;layout=pruh&amp;region=5&amp;barva-den=333&amp;barva-teplota=333&amp;dni=5">
                        </script>
                </div>



            </article>
            <iframe title="Mapa" src="https://mapy.com/s/nasogehemo" class="location__map"></iframe>
            <article class="location__others">
                <h2 class="text--h2 text--bold  ">Zajímavá místa v Jablonci nad Nisou</h2>
                <div class="o-grid location__grid">
                    <article class="places__item c-place">
                        <div class="places__image c-ref-image">
                            <abbr title="Zdroj: www.jablonec.com/">
                                <a href="/co-navstivit/kostel-nejsvetejsiho-srdce.html"> <img loading="lazy"
                                        src="/img/kostelnejsvetejsi-L.webp"
                                        srcset="/img/kostelnejsvetejsi.webp 420w, /img/kostelnejsvetejsi-S.webp 720w, /img/kostelnejsvetejsi-M.webp 900w,  /img/kostelnejsvetejsi-L.webp 1800w"
                                        sizes="
                            (min-width: 901px) 50vw, 100vw  " width="720" height="480"
                                        alt="Kostel Nejsvětějšího srdce Ježíšova v Jablonci nad Nisou"
                                        class="c-place__image img--responsive">
                                </a>

                            </abbr>
                            <button class="places__btn c-ref-btn" onclick="toggleSource(this)">i</button>
                            <div class="places__source c-ref-source">Foto: <a class="places__ref-link c-ref-link"
                                    href="https://www.jablonec.com/jablonec-nad-nisou/pamatky-a-kultura/kostel-nejsvetejsiho-srdce-jezisova/">www.jablonec.com/</a>
                            </div>

                        </div>
                        <h3 class="text--h3 text--bold c-place__title">Kostel Nejsvětějšího srdce Ježíšova</h3>
                    </article>
                    <article class="places__item c-place">
                        <div class="places__image c-ref-image">
                            <abbr title="Zdroj: www.kudyznudy.cz">
                                <a href="/co-navstivit/muzeum-skla-a-bizuterie.html"> <img loading="lazy"
                                        src="/img/muzeum-L.webp"
                                        srcset="/img/muzeum.webp 420w, /img/muzeum-S.webp 720w, /img/muzeum-M.webp 900w,  /img/muzeum-L.webp 1800w"
                                        sizes="
                            (min-width: 901px) 50vw, 100vw  " width="720" height="476"
                                        alt="Muzeum skla a bižuterie - Jablonec" class="c-place__image img--responsive">
                                </a>

                            </abbr>
                            <button class="places__btn c-ref-btn" onclick="toggleSource(this)">i</button>
                            <div class="places__source c-ref-source">Foto: <a class="places__ref-link c-ref-link"
                                    href="https://www.kudyznudy.cz/aktuality/10-tipu-designova-muzea-a-galerie">www.kudyznudy.cz</a>
                            </div>

                        </div>
                        <h3 class="text--h3 text--bold c-place__title">Muzeum skla a bižuterie</h3>
                    </article>
                    <article class="places__item c-place">
                        <div class="places__image c-ref-image">
                            <abbr title="Zdroj: www.jablonec.com">
                                <a href="/co-navstivit/radnice.html">
                                    <img loading="lazy" src="/img/radnice-L.webp"
                                        srcset="/img/radnice.webp 420w, /img/radnice-S.webp 720w, /img/radnice-M.webp 900w,  /img/radnice-L.webp 1800w"
                                        sizes="
                            (min-width: 901px) 50vw, 100vw  " width="720" height="480" alt="Radnice Jablonec"
                                        class="c-place__image img--responsive">
                                </a>

                            </abbr>
                            <button class="places__btn c-ref-btn" onclick="toggleSource(this)">i</button>
                            <div class="places__source c-ref-source">Foto: <a class="places__ref-link c-ref-link"
                                    href="https://www.jablonec.com/jablonec-nad-nisou/pamatky-a-kultura/jablonecka-radnice/">www.jablonec.com</a>
                            </div>

                        </div>
                        <h3 class="text--h3 text--bold c-place__title">Radnice Jablonec</h3>
                    </article>

                </div>
            </article>
        </section>

    </main>

    {% include "partials/footer.html" %}
    <script src="/js/hamburger.js"></script>
    <script>

        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "runwugsjy5");

    </script>
</body>

</html>