 <header class="header">
        <div class="header__row">
            <a href="/index.html">
                <img src="/src/img/logo.svg" alt="Logo" class="header__logo">
            </a>
            <a href="#" class="header__hamburger hamburger" aria-label="Otevřít navigaci">
                <span class="hamburger__line"></span>
                <span class="hamburger__line"></span>
                <span class="hamburger__line"></span>
            </a>
        </div>
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__row">
                    <p class="nav__item text text- text--bold nav__item--best" tabindex="0">Co navštívit</p>
                    <ul class="dropdown">
                        <li><a class="dropdown__item" href="/co-navstivit/kostel-nejsvetejsiho-srdce.html">Kostel Nejsvětějšího Srdce</a></li>
                        <li><a class="dropdown__item" href="/co-navstivit/muzeum-skla-a-bizuterie.html">Muzeum skla a bižuterie</a></li>
                        <li><a class="dropdown__item" href="/co-navstivit/prehrada-mseno.html">Přehrada</a></li>
                        <li><a class="dropdown__item" href="/co-navstivit/radnice.html">Radnice</a></li>
                    </ul>
                </li>
                <li class="nav__row">
                    <p class="nav__item text text- text--bold nav__item--best" tabindex="0">Zábava</p>
                    <ul class="dropdown">
                        <li><a class="dropdown__item" href="/zabava/bazen.html">Bazén</a></li>
                        <li><a class="dropdown__item" href="/zabava/bowling.html">Bowling</a></li>
                        <li><a class="dropdown__item" href="/zabava/divadlo.html">Divadlo</a></li>
                        <li><a class="dropdown__item" href="/zabava/eurocentrum.html">Eurocentrum</a></li>
                        <li><a class="dropdown__item" href="/zabava/kino.html">Kino</a></li>
                        <li><a class="dropdown__item" href="/zabava/klub-na-rampe.html">Klub Na Rampě</a></li>
                        <li><a class="dropdown__item" href="/zabava/knihovna.html">Knihovna</a></li>
                        <li><a class="dropdown__item" href="/zabava/sauna.html">Sauna</a></li>
                    </ul>
                </li>
                <li class="nav__row">
                    <p class="nav__item text text- text--bold nav__item--best" tabindex="0">Zdravotnictví</p>
                    <ul class="dropdown">
                        <li><a class="dropdown__item" href="#">Gynekologie</a></li>
                        <li><a class="dropdown__item" href="#">Kožní</a></li>
                        <li><a class="dropdown__item" href="#">Nemocnice</a></li>
                        <li><a class="dropdown__item" href="#">Oční</a></li>
                        <li><a class="dropdown__item" href="#">Pohotovost</a></li>
                        <li><a class="dropdown__item" href="#">Poliklinika</a></li>
                        <li><a class="dropdown__item" href="#">VZP</a></li>
                    </ul>
                </li>
                <li class="nav__row">
                    <p class="nav__item text text- text--bold nav__item--best" tabindex="0">Úřady a služby</p>
                    <ul class="dropdown">
                        <li><a class="dropdown__item" href="/urady/autoskola-jablonec.html">Autoškola</a></li>
                        <li><a class="dropdown__item" href="#">Brigády</a></li>
                        <li><a class="dropdown__item" href="#">Finanční úřad</a></li>
                        <li><a class="dropdown__item" href="#">Katastrální úřad</a></li>
                        <li><a class="dropdown__item" href="#">Magistrát</a></li>
                        <li><a class="dropdown__item" href="#">Sběrný dvůr</a></li>
                        <li><a class="dropdown__item" href="#">STK</a></li>
                        <li><a class="dropdown__item" href="#">Úřad práce</a></li>
                        <li><a class="dropdown__item" href="#">Veterina</a></li>
                    </ul>
                </li>
                <li class="nav__row">
                    <p class="nav__item text text- text--bold nav__item--best" tabindex="0">Sport</p>
                    <ul class="dropdown">
                        <li><a class="dropdown__item" href="/sport/fk-jablonec.html">FK Jablonec</a></li>
                        <li><a class="dropdown__item" href="/sport/hc-vlci.html">HC Vlci</a></li>
                        <li><a class="dropdown__item" href="/sport/ski-club.html">Ski Club</a></li>
                        <li><a class="dropdown__item" href="/sport/sokol.html">Sokol</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </header>